.states
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
# Elastic Beanstalk Files
*.db
*.py[cod]
.DS_Store
.elasticbeanstalk/*
.web
__pycache__/
assets/external/
config.yaml
pynecone.db
reflex.db
